<h2 class="ribbon ribbon--right ribbon--flipped ribbon--centered">Program Schedule</h2>

<table title="Program Schedule" class="program-schedule-table">
  <thead>
  <tr>
    <th width="180" colspan="2">Time</th>
    <th width="520">Title</th>
    <th width="200">Speaker</th>
  </tr>
  </thead>
  <tbody>
  {{#each scheduleItemsWithSpeakers as |event|}}
    <tr class="{{event.type}}">
      <td>{{event.startTime}}</td>
      <td>{{event.endTime}}</td>
      <td>
        {{#if event.target}}
          <a href="{{event.target}}">{{event.title}}</a>
        {{else}}
          {{event.title}}
        {{/if}}
      </td>
      <td>
        {{event.name}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
