{{#with @session as |session|}}
  <h2 id="{{session.speakerName}}" class="session-details-title">{{session.title}}</h2>
  <div class="session-details-content">
    <div class="session-details-img-wrapper">
      <img src="{{session.speakerImageUrl}}" alt="{{session.speakerName}}">
      <h3 class="session-details-speaker-name">{{session.speakerName}}</h3>
    </div>
    <p class="session-details-text">
      {{session.description}}
    </p>
  </div>
  <hr>
{{/with}}