{{#with @speaker as |speaker|}}
  <img class="speaker-details-image" src="{{speaker.avatar}}" alt="{{speaker.name}}">
  <div class="speaker-details-name">{{speaker.name}}</div>
  <div class="speaker-details-type {{speaker.type}}"></div>
  {{#if speaker.twitterHandle}}
    <a href="https://twitter.com/{{speaker.twitterHandle}}" class="speaker-details-twitter-handle">
      {{fa-icon 'twitter'}}
      @{{speaker.twitterHandle}}
    </a>
  {{/if}}
{{/with}}
