<section class="lead">
  <h2 class="text-center">EmberCamp is coming to Chicago!</h2>
  <p>Join us on September 21 for the first-ever EmberCamp Chicago, where we’ll be hosting 150+ of the world’s top Ember
    developers for a full day of Ember talks, all on the 56th floor of the historic Chase Tower in downtown Chicago.
  </p>
  <p>Whether you want to come enjoy the breathtaking views, make new Ember friends, or get the scoop
    on what's coming next- EmberCamp Chicago is the place to be!</p>
  <div class="index-images">
    <img class="index-summary-image" src="/assets/images/chase-tower-skyline.jpg" alt="" role="presentation">
    <img class="index-summary-image" src="/assets/images/chase-tower-building.jpg" alt="" role="presentation">
    <img class="index-summary-image" src="/assets/images/chase-tower-skyline-2.jpg" alt="" role="presentation">
  </div>
</section>

{{buy-tickets}}

<section>
  <h2 class="ribbon ribbon--right ribbon--centered">Speakers</h2>
  <ul class="speaker-list">
    {{#each model.speakers as |speaker|}}
      <li>
        {{speaker-details speaker=speaker}}
      </li>
    {{/each}}
  </ul>
</section>

<section>
  {{program-schedule}}
  {{link-to 'View more details' 'speakers' classNames='schedule-details button'}}
</section>

{{sponsors-list premierSponsors=model.premierSponsors supportingSponsors=model.supportingSponsors}}