<section class="lead">
  <h2 class="text-center">EmberCamp is coming to Chicago!</h2>
  <p>Join us on September 21 for the first-ever EmberCamp Chicago, where we’ll be hosting 150+ of the world’s top Ember
    developers for a full day of Ember talks, all on the 56th floor of the historic Chase Tower in downtown Chicago. 
  </p> 
  <p>Whether you want to come enjoy the breathtaking views, make new Ember friends, or get the scoop
    on what's coming next- EmberCamp Chicago is the place to be!</p>
  <div class="index-images">
      <img class="index-summary-image" src="/assets/images/chase-tower-skyline.jpg" alt="" role="presentation">
      <img class="index-summary-image" src="/assets/images/chase-tower-building.jpg" alt="" role="presentation">
      <img class="index-summary-image" src="/assets/images/chase-tower-skyline-2.jpg" alt="" role="presentation">
  </div>
</section>

{{buy-tickets}}

<section>
  <h2 class="ribbon ribbon--right ribbon--centered">Speakers</h2>
  <p class="lead text-center">The theme for EmberCamp Chicago is <b>"It's Easy In Ember!"</b> 
  We are seeking talks that showcase how Ember makes development easy for ambitious developers.</p>
  <p class="lead text-center">Interested in speaking at EmberCamp Chicago?</p>
  <p class="cta"><a href="https://cfp.emberconf.com/events/embercamp-chicago-2018" class="button">Submit a CFP today!</a></p>
  
    {{!-- <ul class="speaker-list">
      {{#each model.speakers as |speaker|}}
        <li>
          {{speaker-details speaker=speaker}}
        </li>
      {{/each}}
    </ul> --}}
   <img class="speakers-placeholder" src="/assets/images/zoey-and-tom.png" alt="" role="presentation">

</section>

<section>
  {{!--
  <h2 class="ribbon ribbon--right ribbon--flipped ribbon--centered">Schedule</h2>
    {{program-schedule events=model.scheduleItems}}
    {{!-- {{link-to 'See full program' 'program' classNames='program-link'}} --}}
  
</section>

{{sponsors-list premierSponsors=model.premierSponsors supportingSponsors=model.supportingSponsors}}